.navbar {
  background-color: #f8f8f8;
  min-width: 220px;
}

.btn-Twitter {
  color: #fff;
  background-color: #42ab9e;
  margin-top: 7px;
}

.btn-Twitter:hover {
  color: black;
}

.navbar-brand {
  color: #42ab9e;
  font-size: 1.5em;
}
